.dashboard-hero {
  position: relative;
  width: 170px;
  min-height: 179px;
}

.dashboard-hero .base,
.dashboard-hero .framework,
.dashboard-hero .vite {
  inset-inline: 0;
  margin: 0 auto;
}

.dashboard-hero .base {
  width: 170px;
  position: relative;
  z-index: 0;
}

.dashboard-hero .framework,
.dashboard-hero .vite {
  position: absolute;
}

.dashboard-hero .framework {
  z-index: 1;
  top: 34px;
  height: 28px;
  transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
    scale(1.4);
}

.dashboard-hero .vite {
  z-index: 0;
  top: 107px;
  height: 26px;
  width: auto;
  transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
    scale(0.8);
}
